/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}
.ViewAttractions {
    width:100%;
    border-collapse: collapse;
    border: 1px solid #black;
    color:white
}

    .ViewAttractions th {
        background-color: #ffffff;
        font-style: bold;
        font-size: medium ;
        color:white
    }
    .ViewAttractions td {
        padding: 10px;
        border: solid 1px #c1c1c1;
        font-variant: small-caps;
        color: #222 ;
        background: white;
    }
    .ViewAttractions td a {
            border: solid 1px #c1c1c1;
            color: red
        }
    .ViewAttractions td a:hover{

        border: solid 1px #c1c1c1;
        color: red
    }
    .ViewAttractions .alt{
        background: gray
            repeat-x top;
    }
.ViewAttractionsButton {
    border: thin solid #B6E427;
    font-family: 'Arial Unicode MS';
    background-color: #C1F984;
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar-brand {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 23px;
        position: relative;
    }

    nav a {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

    nav a:hover {
        color: #000;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: #444;
        position: absolute;
        top: 0;
        width: 0%;
        transition: all ease-in-out 250ms;
    }

    nav a:hover::before {
        width: 90%;
    }
.img1 {
    height: 100%;
    width: 100%;
}
.priceGray{
    font-size:15px;
    font-family:sans-serif;
    font-weight:400;
    color:dimgray;
}
.priceGreen {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color:#20bd99;
}



</style >
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
